.content {
    font-size: 35px;
    color: #1796D1;
    font-weight: bold;
    text-align: center;
}

.content .current {
  font-size: 70px;
  color: #20881b;
  display: block;
}

.content .current.negative {
  color: #d94938;
}

.content.loading  .delta {
  background: none;
}

.content .delta {
  color: #20881b;
  padding-right: 40px;
  background: url('images/green-up.png') no-repeat 100% 50%;
}

.content .delta.negative {
  color: #d94938;
  background: url('images/red-down.png') no-repeat 100% 50%;
}