.featured-image-wrapper {
  height: 100%;
}

.featured-image {
  border: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.featured-image td {
  vertical-align: middle;
  text-align: center;
}